.customers-page{
    height: inherit !important;
}

.customers-table{
    height: inherit !important;
}


/* .customers-page{
    width: 100%;
    justify-content: center;
    height: 100%; 
    height: inherit !important;
}
.inventory-table{
    max-height: 85vh;
} */