.table-card{
    position: relative;
    border-color: #e4d8c5!important;
    border-radius: 20px !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: inherit !important;
    overflow-y: auto;
}
th{
    vertical-align: middle;
}
.pagination{
    display: flex;
    justify-content: end;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
}
.table-heading{
    font-weight: 300!important;
    border-bottom: 3px solid rgb(243 244 246);
}
.table-row{
    border-bottom: 2px solid rgb(243 244 246);
}
.edit-button{
    font-weight: 500;
    cursor: pointer;
    color:blue;
    &:hover{
    text-decoration: underline;
    }
}

.table-dropdown-toggle{
    background: white !important;
    border: none !important;
}

.table-dropdown-toggle::after {
    content: none !important;
}

