
.basic-details-heading-accordion{
    padding: 1.2% 1.3% 0.6% 1%;
   
}
.basic-details-accordion{
    background-color: white !important;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;    
}


.basic-details-accordion-body{
    padding: 0% 1% 0.1% 1%;
}

.basic-details-accordion hr {
    padding: 0;
    margin: 0;
}