.app{
    width: 100vw;
    height: 100vh;
    background-color: rgb(184, 197, 211);
    font-size: 16px!important;
}
.formOnImage{
    z-index: 100;
    position: absolute;
}
.top-bar{
    width: 100%;
}
.main-container{
    
    margin: 2% ;
    width: 96%;
    max-width: 96%;
    gap: 2%;
    display: flex; 
    /* max-height: 88%; */
    height: 84%;
    justify-content: space-between;
    /* overflow: hidden; */
}



.page-body{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.set-max-width{
    max-width: 100% !important;
}

.brand-name{
    margin-left: 1rem;
    font-stretch: expanded;
    font-size: 2rem;
    font-weight: 800;
}
.body-card{
    /* min-width: calc(100% - 5.2rem); */
   
    overflow-y:scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.profile{
    font-size: 19px;
    color: white !important;
}

.content-body{
    width: 100%;
    height: 100%;
}




