.app{
    background-color: rgb(184, 197, 211);
    display:flex; 
    flex-direction: column;
    height: 100vh;
}
.formOnImage{
    z-index: 100;
    position: absolute;
}
.top-bar{
    width: 100%;
}
.main-container{
    margin: 1% ;
    width: 98%;
    max-width: 98%;
    gap: 1%;
    display: flex; 
    justify-content: space-between;
    height: calc(96% - 74px) !important;
}


.details-back-btn:hover{
    cursor: pointer !important;
}



.set-max-width{
    max-width: 100% !important;
}

.brand-name{
    margin-left: 1rem;
    font-stretch: expanded;
    font-size: 2rem;
    font-weight: 800;
}

.profile{
    font-size: 19px;
    color: white !important;
}

.content-body{
    width: 100%;
    height: 100%; 
    display:flex; 
    flex-direction: column;
}
button{
    height: 38px;
    font-weight: 570 !important;
}

td{
    vertical-align: middle;
}

.carousel-inner {
    padding-bottom: 100lvh;
    overflow: hidden !important; 
  }
  
  .carousel-item {
    position: absolute !important; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .carousel-item img {
    height: 100%; 
    object-fit: cover; 
  }

