.sidebar {
  min-height: 100%;
  height: 100%;
  width: 4.2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.3s width;
  /* margin-top: 16px; */
  padding: 20px;
}
.boxicon-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
}

.boxicon {
  margin: 0.8rem;
  animation-iteration-count: 1;
  z-index: 2;
}
.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  background-color:#0D6EFD;
  opacity: 1;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: -0.25rem;
  border-radius: 0.8rem;
  /* border-bottom-right-radius: 0.8rem; */
}

.boxicon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  background-color:#0D6EFD;
  opacity: 0;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: -0.25rem;
  border-radius: 0.8rem;
  /* border-bottom-right-radius: 0.8rem; */
  color: white!important;
  
}

.boxicon-container:hover > .boxicon::after {
  opacity: 1;
  transition: 0.1s;
}

.description {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4rem;
  z-index: 10;
  font-weight: bold;
  margin: 0;
  color: black;
  transition: 0.2s opacity;
}

.active-description {
  color: white;
}

.expanded {
  width: 13rem;
  align-items: flex-start;
}

.show-description {
  opacity: 1;
}

.container {
  display: flex;
  margin-left: 0px !important;
}

.text {
  color: white;
  z-index: 100;
  /* margin: 0 auto; */
  align-self: center;
  font-size: 32px;
}
.color-text{
    color: white;
}

@media screen and (max-height: 550px) {
  .boxicon {
    margin-left: 1.2rem;
  }
  .first-and-last-trash-fix {
    margin-left: 1.2rem;
  }
}
