.sidebar {
  /* min-height: 92vh; */
  
  /* width: 20%; */
  width: 18rem;
  
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* transition: 0.3s width; */
  /* margin-top: 16px; */
  padding: 1.2%;
    /* margin: 0 0 0 1rem; */
  border-radius: 20px;
  box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;;
}
.boxicon-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
}

.boxicon {
  margin: 1.1rem;
  animation-iteration-count: 1;
  z-index: 2;
}
.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  background-color:#0D6EFD;
  opacity: 1;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: -0.01rem;
  border-radius: 0.8rem;
  /* border-bottom-right-radius: 0.8rem; */
}

.boxicon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  background-color:#0D6EFD;
  opacity: 0;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  left: -0.01rem;
  border-radius: 0.8rem;
  /* border-bottom-right-radius: 0.8rem; */
  color: white!important;
  
}

.boxicon-container:hover > .boxicon::after {
  opacity: 1;
  transition: 0.1s;
}

.description {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4rem;
  z-index: 10;
  font-weight:bold;
  font-size: medium;
  margin: 0;
  color: black;
  transition: 0.2s opacity;
  padding-left: 20px;
}

.active-description {
  color: white;
}



.show-description {
  opacity: 1;
}



.text {
  color: white;
  z-index: 100;
  /* margin: 0 auto; */
  align-self: center;
  font-size: 32px ;
}
.color-text{
    color: white;
}

@media screen and (max-height: 550px) {
  .boxicon {
    margin-left: 1.2rem;
  }
  .first-and-last-trash-fix {
    margin-left: 1.2rem;
  }
}
