.product-page{
    width: 100%;
    justify-content: center;
    /* height: 100%; */
    height: inherit !important;
}
.delete-button{
    font-weight: 700 !important;
    cursor: pointer !important;
    color:red !important;
    &:hover{
        text-decoration: underline !important;
    }
}

