
/* .product-company {
    width: 40% !important;
}
.product-basic-meta{
    width: 25% !important;
} */

.product-value{
    /* font-size: 1.25rem !important;
    font-weight: bold !important; */
    border-bottom: 1px solid !important;
}
.product-value-name{
    /* font-size: 2rem !important;
    font-weight: bolder !important; */
    border-bottom: 1px solid !important;
}
.product-edit{
    width: 6rem;
    /* font-size: 18px !important; */
}

