.product-page{
    height: inherit !important;
}

.product-table{
    height: inherit !important;
}

.delete-button{
    font-weight: 700 !important;
    cursor: pointer !important;
    color:red !important;
    &:hover{
        text-decoration: underline !important;
    }
}